body { font-family: 'Roboto', sans-serif; }
.wrapper { height: 100vh; display: flex; flex-direction: column; }
#results {display:none;}
.alert {  width: 100%;  height: 30px;  background-color: #e74c3c;  line-height: 30px;  padding: 5px 10px 5px 10px;  font-family: arial;
  color: white;  font-weight: bold;  border-radius: 3px;  display:none;}
.stats {   width:100%;overflow: hidden;  opacity:0.87;    padding-top:5px;  }
.fullname {   font-weight:bold;opacity:0.87;  font-size:22px; text-transform: uppercase;}
.avatar {    width:55%;        position: relative;
    -webkit-border-radius: 50%;    -moz-border-radius: 50%;    border-radius: 10%;    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);   box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.toolbar {  display: block;  padding:5px;    float:right; width:70%;}
.secname {       padding:5px; font-size: 1em;}
.mainname {    padding:5px;    text-shadow: #999;    font-weight:bold;}
.wrap {width:100%;}
ol, li { padding: 0; margin: 0; list-style: none;}
h1 {   font-size: 1.5em; }
.activity-chart, h1 {color: #525252;}
.days li { background: #ebebeb; }
.activity-chart { position: relative; }

.container {margin-top:20px;}
.column-left{ float: left; width: 5%; }
.column-right{ float: right; width: 75%; }
.column-center{ display: inline-block; width: 20%;padding-left:25px; }

.days-of-week { width: 40px;  position: absolute;}
.closed { color: #1e6823 !important;;font-size: 1em; }
.completed { background: #1e6823 !important;font-size: 1em; }
.open { color: #ff0000 !important;font-size: 1em; }
.days { font-size: 1em;float:right }
.days li { width: 12px;height: 12px; float: right;  margin: 1px 1.5px;}
.mainsections {float:left;padding:25px;box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;font-size: 1em;}
.subsections {display:inline-block;padding:25px;box-sizing: border-box;
  -moz-box-sizing: border-box;font-size: 1em;
  -webkit-box-sizing: border-box;font-size: 1em;}
  .sections {
      float:right;padding:25px;box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width:35%;
  }


.header-wrap {
  background: #333;
  /*border removed*/
  box-shadow: 0 5px 10px #aaa;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
}

.logo { color:#fff; opacity:0.87;}
.hline {border-bottom: 1px solid #000; opacity:0.87;padding:10px;}

input {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #d9d9d9;
    width: 285px;
    height: 36px;
    padding-left: 17px;
    margin-right: 50px;
    color: #999999;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}